body{
    font-family: serif;
    color: white;
    background-color: white;
    text-shadow: 1.6px 1px 1px black;
    font-size: 24px;
}
header{
    position: relative;
    background-color: rgb(60, 196, 239);
    width: 100%;
}
#logo{
    background-color: white;
}
#world{
    float: right;
}
#immaginiitaliaescritta{
    background-color: rgb(198, 195, 185);
    margin: 0px;
}
#sinistra{
    position: relative;
    float: left;
    top: 20px;
}
#destra{
    position: relative;
    float: right;
    top: 20px;
}
h1{
    text-align: center;
    margin: 0px;
}
.scritteinalto{
    overflow-x: auto;
    background-color:rgb(0, 104, 164);
    width: 100%;
    bottom: 5px;
}
select{
    background-color: rgb(0, 104, 164);
    border: none;
    font-family: serif;
    color: white;
    text-shadow: 1.6px 1px 1px black;
    font-size: 24px;
    border: 3px solid orange;
    text-align: center;
    height: 47px;
    margin-left: 10px;
}
.falso{
    color: rgb(0, 104, 164);
}
#slideshow{
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}
#centro{
    float: left;
    text-align: right;
    font-size: 100%;
    width: 19%;
    text-shadow: 3px 2px 1px black;
    margin-top: 20px;
}
#row{
    float: right;
    text-align: left;
    font-size: 100%;
    width: 23%;
    text-shadow: 3px 2px 1px black;
    margin-top: 20px;
}
#bandieraitaliana{
    position: relative;
    display: flex;
    margin-bottom: 0px;
    height: 6px;
    font-size: 1px;
}
#verde{
    background-color: rgb(0, 146, 70);
    width: 33.3333333%;
}
#bianco{
    background-color:white;
    width: 33.3333333%;
}
#rosso{
    background-color: rgb(206, 43, 55);
    width: 33.3333333%;
}
.spazio{
    position: relative;
    margin: 0px;
    height: 10px;
    background-color: rgb(0, 104, 164);
    width: 100%;
}
#immaginiescritte{
    position: relative;
    background-color: rgb(0, 104, 164);
}
#pdf{
    width: 100%;
    background-color: rgb(0, 104, 164);
}
a{
    font-family: serif;
    color: white;
    text-shadow: 1.6px 1px 1px black;
    font-size: 100%;
    text-decoration: none;
}
a:hover{
    color: orange;
}
.immaginepdf{
    width: 50px;
    margin-top: 10px;
}
footer{
    background-color: darkslategrey;
    margin: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.fondo{
    margin: 0;
    position: relative;
    text-align: center;
}
#scritteinfondo{
    margin-left: 50px;
}
#asd{
    position: relative;
    text-align: center;
    margin-left: 50px;
}
#como{
    text-align: right;
    margin-left: 50px;
    margin-right: 50px;
}
img{
    background-color: darkslategrey;
}