body {
    position: relative;
    width: 100%;
    margin: 0px;
    font-size: 150%;
    background-color: white;
    color: white;
  }
  
  header {
    position: fixed;
    display: flex;
    z-index: 3;
    top: 0px;
    width: 100%;
    background-color: transparent;
    font-size: 12px;
  }
  
  .logo {
    position: relative;
    top: 5px;
    left: 5px;
    width: 150px;
  }
  
  h1 {
    position: absolute;
    z-index: 2;
    top: 150px;
    width: 100%;
    text-align: center;
    font-family: serif;
    font-size: 400%;
    color: white;
    text-shadow: 3px 2px 2px black;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .image-container {
    position: relative;
    top: 0px;  
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: contain;
    opacity: 0;
  }
  
  .falsaimmagine{
    position: relative;
    top: 0;
    z-index: 0;
    width: 100%;
    background-color: white;
    mix-blend-mode: screen;
  }
  
  
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 24px 8px 24px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .menu-icon {
    display: inline-block;
    width: 67px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  .menu-icon span {
    display: block;
    position: absolute;
    height: 13px;
    width: 100%;
    background: white;
    border: 1px solid black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  .menu-icon span:nth-child(1) {
    top: 0px;
  }
  .menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
    top: 19.49px;
  }
  .menu-icon span:nth-child(3) {
    top: 39px;
  }
  .menu-icon.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
  }
  .menu-icon.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  
  /* Menu */
  
  /* Stile per il menu posizionato a destra */
  #menu1 {
    right: 0px;
  }
  #menu2 {
    right: 35px;
  }
  #menu3 {
    right: 231px;
  }
  #menu4 {
    right: 314px;
  }
  #menu5 {
    right: 437px;
  }
  #menu6 {
    right: 687px;
  }
  #menu7 {
    right: 861px;
  }
  #menu8{
    right: 970px;
  }
  #menu9{
    right: 1082px;
  }
  
  /* Stile per il menu */
  .menu {
    position: absolute;
    top: 10px;
    display: inline-block;
    color: #000;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    z-index: 2;
    text-align: center;
  }
  
  /* Stile per gli elementi del menu */
  .menu ul {
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    top: 100%;
    left: 50%; /* Sposta il menu a metà della larghezza del menu principale */
    transform: translateX(-50%); /* Centra il menu rispetto allo span */
    z-index: 999;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .menu ul li {
    width: 150px; /* Imposta la larghezza dei li a 190px */
    padding: 10px 20px ;
    text-align: center;
    cursor: pointer;
  }
  .menu ul li:hover {
    background-color: #f0f0f0;
  }
  /* Stile per gli elementi del menu quando ci si passa sopra con il mouse */
  .menu:hover ul {
    display: block;
  }
  .menu:hover {
    background-color: #e0e0e0;
  }
  
  
  .bandieraitalia {
    position: relative;
    display: flex;
    top: 12px;
    height: 5px;
    border: 1px solid black;
  }
  .verde {
    background-color: rgb(0, 146, 70);
    width: 33.333%;
    height: 5px;
  }
  .bianco {
    background-color: rgb(255, 255, 255);
    width: 33.333%;
    height: 5px;
  }
  .rosso {
    background-color: rgb(206, 43, 55);
    width: 33.333%;
    height: 5px;
  }
  
  .rowtogrow {
    position: relative;
    width: 100%;
    height: 45px;
    text-align: center;
    align-items: center;
    background-color:rgb(41, 69, 102);
    text-shadow: 2px 1px 1px black;
  }
  
  .rowing{
    position: relative;
    height: 50%;
  }
  .testorowing {
    position: relative;
    width: 64%;
    height: 370px;
    float: left;
    background-color: rgb(41, 69, 102);
    padding-left: 5px;
    text-shadow: 2px 1px 1px black;
    border-top: 6px solid white;
  }
  .row {
    position: relative;
    float: right;
    height: 370px;
    width: 35.6%;
    border-top: 6px solid white;
  }
  
  .vai {
    position: relative;
    text-align: center;
    left: 20px;
    right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 3px solid white;
  }
  
  .clubhouse {
    position: relative;
    height: 50%;
  }
  .testoclubhouse {
    position: relative;
    float: right;
    padding-left: 5px;
    background-color: rgb(41, 69, 102);
    text-shadow: 2px 1px 1px black;
    width: 64%;
    height: 370px;
    border-top: 6px solid white;
  }
  .house {
    position: relative;
    float: left;
    height: 370px;
    width: 35.6%;
    border-top: 6px solid white;
  }
  
  footer{
    background-color: darkslategrey;
    position: relative;
    top: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }
  .fondo{
    position: relative;
    text-align: center;
  }
  #scritteinfondo{
    margin-left: 50px;
  }
  .facebook {
    height: 30px;
  }
  #asd{
    position: relative;
    text-align: center;
    margin-left: 50px;
  }
  #como{
    text-align: right;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-width: 1349px) {
  
   .menutotale {
      display: none;
    }
  
    .row {
      width: 35.4%;
    }
  
    .house {
      width: 35.4%;
    }
  
  }
  
  @media screen and (min-width: 1350px) {
  
    .menu-icon {
      display: none;
    }
  
    .mySidenav {
      display:none;
    }
    
    .sidenav {
      display: none;
    }
  }